
@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}
h2{
    font-family: poppins;
    color: #181818;
}
p{
    font-family: poppins;
    color: #181818;
}
body {
    background-color: #380808;
    padding: 16px;
}
#precabecera{
    background-color: #8A1C00;
}
#padre {
    background-color: #FFC0B0;
}
#cabecera {
    background-color: #B52502;
    display: flex;
}
#logo {
    width: 140px;
    padding: 0px;
}
#titulo {
   padding-top: 10px; 
   font-family: poppins;
   font-size: 50px;
   color: #181818;
}
#subcabecera{
    background-color: #AD4C4C;
    display: flex;
}
#subIzq{
    width:65%;
    padding: 2%;
}
#opciones{
    display: flex;
}
#opciones>div{
    margin: 20px;
    padding-left: 80px;
    padding-right:80px;
    font-size: 20px;
    background-color: #F0D3C3;
}
#subDer{
    display:inline;
    width: 35%;
    background-color: #D47059;
}
#tabla, th, td{
    margin:2em;
    border: 2px solid black;
   
}
td{
    padding: 2em;
    padding-right: 5em;
}
#img1{
    max-width: 100%;
    height: 100%;
    margin: 0px;
}
img{
    max-width:100%;
    margin: 16px;
}
#carruselpadre{
    display: flex;
}
#carrusel1 {
    display: flex;
    flex-direction: column;
    padding: 16px;
}
#carrusel2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    padding-top: 16px;
}
#carrusel3 {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

